.canvas {
  position: fixed;
  width: 100%;
  height: 75%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.sliderLabel {
  position: relative;
  color: #e2e8f0;
  z-index: 10;
  margin: 15px;
}
