.noteTitle {
  background-color: #1a2234;
  outline: none;
  border: 1px solid;
  border-color: #2a3344;
  color: #999999;
  font-size: 1em;
  caret-color: #999999;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
}
.noteContent {
  background-color: #1a2234;
  outline: none;
  border: 1px solid #2a3344;
  color: #999999;
  font-size: 1em;
  caret-color: #999999;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  height: 400px;
}
