.popupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3rem);
}
.popup {
  position: absolute;
  padding: 10px 25px;
  top: 5%;
  left: 25%;
  width: 47%;
  background-color: #131926;
  border-radius: 10px;
}
.noteTitle {
  background-color: #1a2234;
  outline: none;
  border: 1px solid;
  border-color: #2a3344;
  color: #999999;
  font-size: 1em;
  caret-color: #999999;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
}
.noteContent {
  background-color: #1a2234;
  outline: none;
  border: 1px solid #2a3344;
  color: #999999;
  font-size: 1em;
  caret-color: #999999;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  height: 400px;
}
.buttonsContainer {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
