.popupBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.3rem);
  }
  .popup {
    position: absolute;
    padding: 10px 25px;
    top: 5%;
    left: 25%;
    width: 47%;
    background-color: #131926;
    border-radius: 10px;
  }